@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

h1{
font-family: 'Brush Script MT Italic';
font-style: italic;
font-size: 250%;
color: #0d0c0d;
letter-spacing: 1px;
text-rendering: optimizeLegibility;
font-feature-settings: "kern" 1;
font-weight: normal;
}

#bob {

    font-weight: 800;
    text-transform: capitalize;

}

#custombg {

    background-image: url("/imgs/Pinklloyds.jpg");
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    width:100vw;
    height:100vh;
    background-size: cover;
}

